# <center>Welcome to Python Programming

**Contents**
1. Introduction to python
2. Applications of python
3. IDEs
4. Introduction to python Interpreter
5. Indentation and comments
6. Keywords
7. Variables - Identifiers
8. Built-In types
9. Assigning Values to variables
10. Input and Output Statements
11. Operators
12. Control Structutres
13. Math & Random Modules
14. List
15. Tuple
16. Strings
17. Set
18. DIctionary
19. Functions
20. Files
21. Libraries in Python

## Introdution to Python

1. Why Python
    - Simple syntax
    - lenght of code- Very small
    - Complex problems can be solved in a simple mannar
2. Differences between c, Java, Pyhton

In [1]:
%%html
<img src="Screenshot (569).png">

3. Features of Python
    - Simple to learn
    - Open source
    - Protability [It will easily embedded in any environment. e.g. Linux, Windows, ect]
    - High Level Interpreter
    - Object Oriented
    - Standard Libraries --200+ libraries, In libraries function are there we need not to write factorial program of 5 lines. simply import libraries use function Factorial(5)--120... like add sub and etc
4. History
    - Updation  and modifications of versions.

## Applications of python
What type of programs and applications we can create by using python
    1. Web & Internet Development
    2. Desktop GUI Applications
    3. Artificial Intelligence
    4. Machine Learning
    5. Image Processing Applications
    6. Business Applications
    7. Games and 3D Graphics
    8. Network Programming
    9. Database Access

## IDEs - Integrated Development Environment
- To write a **Pyhton** program we need to have some environment which is called softwares....Softwares like Jupyter, pyCharm..etc
- By using above IDEs we can write python programs

## Introduction to python Interpreter

In [2]:
%%html
<img src="Screenshot (570).png">

**Compiler**

1. Source code - The code what we written
2. Compiler - It contain syntax, It will check only the syntax not the logic
    - e.g: addtion of two numbers a+b we need to implement, we wrote a-b bymistake in the logic, It doesn't show the error because we written the syntax correctly. It check only syntax which the rules not logic
3. Machine code - After compiles if no errors then machine code will generate
4. Output - When we excute machine code output will generate

**Interpreter**

- In interpreter we need to give source code to interpreter output will come

**Difference b/w Compiler and Interpreter**

- Compiler means - After total completing of the source code it will start converting, Which means it convert source code to machine code
- Interpreter - it is not like Compiler, it will convert line by line. It will take first line no error then it will convert, if we have error it will stop
       - e.g: we have error in line 4 and line 8
       - When we excute in  compiler we can see error in line 4 and 8 because it will compile total source code
       - When we excutein interpreter it show only line 4 because it will convert line by line so it stops in line 4 it wont go to line 5 also.
       - In interpreter line by line execution will done

## Indentation and comments

In [3]:
%%html
<img src="Screenshot (571).png">
<img src="Screenshot (572).png">

## Keywords

In [4]:
%%html
<img src="Screenshot (573).png">

## Variables

- We need to store a data in memory. The advantage of the computer is we can store a data in memory and we can access the value when we need
- We need to store a value 5. when we store the data in memory, some part of memory will occupy for that memory address will assign. 
- This memory address will be in numerical form, 
    - for example we have a bucket with memory address like 1000,1001,1002,1003,1004, and so on. Now we need to store a data value 5, it stored in memory and address is 1000. now i want to use the value 5 in another program, so we need to remeber the memory address 1000 to bring the data value 5. it is ok for one value If it is more than 10 value it is difficult to remember the memory address.
- We will give a name to the address using alphabets [a=5], instead of remembering numbers it is easy to remeber names
- When we want to access 5, we will access with name
- The name has to given by the user by following the rules

In [5]:
%%html
<img src="Screenshot (574).png">

## Built-In types

Built-in types means Data type, the data can come in different forms so here We divided in to different category like below

In [6]:
%%html
<img src="Screenshot (575).png">

- we can store only single value in a variable
    - example a = 5, 5 stored in a  and a = 10, value 5 erase and 10 will store
- Now by using Sequence Type we can store multiple values

- In c,c++,java we need to use declaration like
    - int a =5
    - float b = 9.6
    - How many values we want that mnay declaration has to mention
- But in pyhton we do not use declaration 
    - simple using a = 5
    - b = 9.6
    - It will treat implicitly when we assign a value to the variable
        - a = 5 automatically it will consider as  integer
        - b = 9.0 automatically it will consider as float 
        - c = "Welcome" automatically it will consider as String
        - We can know the values which data type it is by using Type() function
- implicitly the interpreter automatically check and declar the data types
- So we called these as BUILT-In types Not data types because it will be implicitly, we use those

## Assigning Values to variables

- A=5
    - left side of the = is memory location
    - Right side of the = is Expression
    - The expression will evalute and add to the memory location
    
- Now we see How many different type of ways to assign a value into the variable

In [7]:
%%html
<img src="Screenshot (576).png">

In [8]:
%%html
<img src="Screenshot (578).png">

In [9]:
%%html
<img src="Screenshot (579).png">

In [10]:
%%html
<img src="Screenshot (580).png">

In [11]:
a=b=c=d=0

In [12]:
a

0

In [13]:
b

0

In [14]:
c

0

In [15]:
a=5

In [16]:
a=a+5

In [17]:
a

10

In [18]:
a+=5

In [19]:
a

15

## Input and Output Statements

In [20]:
%%html
<img src="Screenshot (581).png">

In [21]:
a = input()
b = input()

10
20

In [22]:
a

'10'

In [23]:
b

'20'

In [24]:
a+b

'1020'

In [25]:
x=int(a)

In [26]:
x

10

In [27]:
type(x)

int

In [28]:
type(a)

str

In [29]:
a

'10'

In [30]:
a = int(input())
print(a)

100
100

In [31]:
a = int(input('enter value for variable a : '))
print(a)

enter value for variable a : 20
20


<img src="Screenshot (583).png">

In [33]:
a = input().split()

10 20 30

In [34]:
print(a)

['10', '20', '30']


<img src="Screenshot (584).png">
<img src="Screenshot (585).png">
<img src="Screenshot (589).png">
<img src="Screenshot (591).png">

In [41]:
a= 10
b = 20.7
print("%d is interger, %f is float"%(a,b))

10 is interger, 20.700000 is float

In [42]:
10/3

3.3333333333333335

In [43]:
c=10/3
print("c=%f"%(c))

c=3.333333

In [45]:
c=10/3
print("c=%.2f"%(c))

c=3.33

In [48]:
a= 10
b = 20.7
print(a," is interger,",b,"is float")

10  is interger, 20.7 is float

## Operators


<img src="Screenshot (592).png">

In [59]:
a=5
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)   # Quotient
print(a%b)  # Remender
print(a//b)  #Floor division 5/2=2.5--2
print(a**b) #power

7
3
10
2.5
1
2
25


<img src="Screenshot (593).png">
<img src="Screenshot (594).png">
<img src="Screenshot (595).png">

In [61]:
a = 5 
b = 3
~a  #(-(a+1))

-6

In [63]:
~b #(-(b+1))

-4


<img src="Screenshot (597).png">

In [66]:
a = 5
print(a<<2)
print(a>>2)

20
1


<img src="Screenshot (598).png">

**Membership Operator**
- These are simply called as search operators
    - for example take list of sequence a= [10,20,30,40]
    - to search 10 in a. If it is in c we will use binary search, linear search,fibnoci search and diff search we use and write code for that]
- But in python we can use Membership operator to search
    - example: 10 in a--->True 
    - 100 in a----> false
    - 100 not in a ---> True
    - 10 not in a -->False

In [68]:
a=[10,20,30,40]
10 in a

True

In [69]:
100 in a

False


<img src="Screenshot (599).png">

In [81]:
a = 5
b = 5

In [82]:
id(a)

140716792193552

In [83]:
id(b)

140716792193552

In [84]:
a is b

True

In [85]:
b = 4

In [86]:
a is b

False

In [87]:
a = [10,20,30]
b = [10,20,30]
a is b

False

- Above a is b is true,But in list a is b is false
- Because in some concetps the values wont change and object will refere same, But in some concepts it will not refer but id will change
- That why we use two words called mutable and unmutable
- So here result ture or false  will based on id not on values 
    - id(a)==id(b) not like a==b

In [88]:
id(a)

2145976392264

In [89]:
id(b)

2145973379976

## Control Structures

- It control the flow of execution which means what after what should execute
- Flow of control will be in
    - Sequential  --- line by line
    - Conditional --- based on condition will decide what to execute
        - condition ---> boolen ---> True or false --- What should execute when it is true, what to execute when it is false
    - Iterative/loops --- Group of statements executing repeatedly based on condtion
    - Jumping statement --- we use completly in iterative statemnts to ship some statements


<img src="Screenshot (600).png">

In [98]:
a = int(input("enter a: "))
b = int(input("enter b: "))
c=a+b
print("sum",c)

enter a: 8
enter b: 5
sum 13

In [90]:
# simple if
a = int(input())
if a>=0:
    print("Positive number")

-5

In [91]:
# If else
a = int(input())
if a>=0:
    print("Positive number")
else:
    print("negative number")

5
Positive number

In [92]:
# if else if
a = int(input("enter a: "))
b = int(input("enter b: "))
if a>b:
    print("a is greater than b")
elif a<b:
    print("a is smaller than b")
else:
    print("both are equal")

enter a: 5
enter b: 2
a is greater than b

In [95]:
# nested if
a = int(input("enter a: "))
b = int(input("enter b: "))
c = int(input("enter c: "))
if a>b:
    if a>c:
        print("a is Big")
    else:
        print("c is big")
else:
    if b>c:
        print('b is big')
    else:
        print("c is big")

enter a: 2
enter b: 6
enter c: 4
b is big

In [100]:
print("1")
print("2")
print("3")
print("4")

1
2
3
4

### while loop
1. loop variable initialize
2. condition --> to Terminate
3. loop variable update

In [103]:
n = int(input("enter n value"))
i=1 #loop variable
while i<=n: #condition 
    print(i)
    i=i+1 #loop variable update

enter n value6
1
2
3
4
5
6

In [105]:
n = int(input("enter n value : "))
i=1 #loop variable
while i<=n: #condition 
    print(i, end=" ")
    i=i+1 #loop variable update

enter n value : 100
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

### for loop
- we can execute for loop in two ways
    - Sequential
        - we use sequence type like String,list,tuple
          
    - range()
        - range(start,stop,step)
        - loop variable--> start --> starting value -- by default 0
        - Condition--> end --> end value -- Compolsary we have to mention
        - Updation --> step --> diference -- by default 1
            - example : i in range(0,6,1)
            - we can aslo write  i in range(6) start and diff will take by default

In [106]:
for i in range(0,6,1):
    print(i)

0
1
2
3
4
5

In [109]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [110]:
for i in range(1,100,2):
    print(i, end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [112]:
str = "PYTHON"
for letter in str:
    print(letter)

P
Y
T
H
O
N

In [114]:
l = [10,20,30,40,50]
for element in l:
    print(element)

10
20
30
40
50

In [115]:
# nested loop
for i in range(5): # i = 0 to 4
    for j in range(5):
        print('*',end=' ')
    print(" ")

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [116]:
# break
for i in range(10):
    if i==5:
        break
    else:
        print(i)

0
1
2
3
4

In [118]:
#Continue

for i in range(10):
    if i ==4:
        continue
    else:
        print(i)

0
1
2
3
5
6
7
8
9

In [119]:
#pass

i =1
while i<=10:
    if i ==5:
        pass
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10

# Math and Random Modules

- In module will have number of functions those are called Built-In functions, which means we do not write code for the function, we can use the function by importing the module which function belongs to
- what are the functions we have, those fumction code will be in the module
    -example: sin(30) that sin code will be in module
    - pow(2,2)--> 4 That pow function code will be module
- Now here we will see two modules called Math and Random
    - math module will have different functions as well as random module will have different functions
    - Functions belongs to the math we should call with math
        - Example : we have pow function in math so we should call with module name i.e Math.pow(2,2). if we call pow(2,2) it will not excute.

<img src="Screenshot (601).png">

In [120]:
import math

In [122]:
math.ceil(10.3)

11

In [128]:
#ceil(10.3) 

#error will come because ceil is in math module
     #so we should call with that module and also we should import that module

In [129]:
math.floor(10.9)

10

In [131]:
a= 10
b =-20
math.copysign(a,b) # a value will return but sign will be of b

-10.0

In [133]:
math.fabs(b)

20.0

In [134]:
l = [10,20,30]
math.fsum(l)

60.0

In [137]:
math.gcd(3,10)

1

In [138]:
math.pow(2,3)

8.0

In [139]:
math.sqrt(16)

4.0

In [140]:
math.sin(60)

-0.3048106211022167

In [142]:
math.cos(30)

0.15425144988758405

In [143]:
math.pi

3.141592653589793

In [144]:
math.tau

6.283185307179586

In [145]:
math.e

2.718281828459045

In [149]:
a =  math.inf

a

inf

In [148]:
a= math.nan
a

nan

<img src = "Screenshot (602).png">

In [150]:
import random

In [151]:
l = [10,20,30,40]
random.choice(l)

10

In [152]:
random.choice(l)

30

In [153]:
random.choice(l)

10

In [155]:
random.choices(l,k=2)

[40, 20]

In [156]:
random.randrange(10,15,1)

14

In [158]:
random.randrange(10,15,1)

13

In [159]:
random.random()  # 0 to 1 any float value will return

0.6972355619762421

In [162]:
random.random()  # 0 to 1 any float value will return

0.7055268076725593

In [164]:
l

[10, 40, 20, 30]

In [163]:
random.shuffle(l) # Shuffle the list

In [165]:
l

[10, 40, 20, 30]

In [166]:
random.shuffle(l)

In [167]:
l

[10, 30, 20, 40]

In [168]:
random.uniform(10,15) #10 to 15 any random numbers will print in float

13.20857105896951

In [169]:
random.uniform(10,15)

14.353540996521843

## These are math and random modules, First we should import the module and then access the function with the module name

# List

<img src = "Screenshot (604).png">

**List is define as coma sperated values and these enclosed with square brackets. We can add multiple datatypes**

<img src="Screenshot (605).png">

**Creating a list**

In [170]:
a=[]

In [171]:
type(a)

list

In [172]:
a=list()

In [173]:
a

[]

In [174]:
a=[10,20,30]
a

[10, 20, 30]

In [176]:
# Here we put multiple datatypes in one varibale this is called SEQUENCE
a = [10,20.5,"hello"]    
a

[10, 20.5, 'hello']

Here we need to learn two things those are called Mutable and Immutable

<img src="Screenshot (606).png">

Here **LIST** is Mutable object, which we can add, delete and reasign finially it is nothng but we can do modification on LIST

**Accessing element in the list**

<img src = "Screenshot (607).png">

- We access the elements in list by using index
- index will start with zero
- we access the elements with variable_name[index]
- We have forward index start with 0 and backward index starts with -1
- If we give negative index i.e: a[-1] it will  add with lenght of elements, in above example lenght of elements is 5, so -1+5=4
- so a[-1] is same as a[4]
- So accessing of the elements will done with indexing  values

In [177]:
a = [10,20,30,40,50]

In [178]:
a[0] # here [] these are not square brackets we should called it as SUB SCRIPT

10

In [179]:
a[-3]

30

In [180]:
# here we have 5 values, if we cant to access 6th value error will come
# IF we access out of range of indexing error will come
#a[6]

IndexError: list index out of range

## slicing

- Slicing means extracting some portion from the elememts

<img src="Screenshot (608).png">

- we know that a[0]=10, a[1]=20 so on. 
- Now i want to extract some elements. then we use slicing

<img src="Screenshot (609).png">

- How we use slicing?? In square brackets we use colons [ : ], the colon left side will mention satrt index and right side stop index
- By default start index will take 0 and stop index will take len(list)

In [181]:
a[:]

[10, 20, 30, 40, 50]

In [182]:
a[0:3]

[10, 20, 30]

In [183]:
a[:3]

[10, 20, 30]

In [184]:
a[2:]

[30, 40, 50]

### Reassigning list elements

- In the list we can do modification

In [185]:
a # let see the original elements

[10, 20, 30, 40, 50]

In [186]:
a[2]

30

In [189]:
a[2]=25  #I want to change the 30 to 25

In [192]:
a # now the list is updated which means 30 replaced by 25

[10, 20, 25, 40, 50]

## Multidimensional List

- Multidimensional list menas we can give sub list in the list

In [194]:
a=[[10,20,30],[50,60,70]]

In [195]:
a[0]

[10, 20, 30]

In [196]:
a[0][2]

30

In [197]:
a[1]

[50, 60, 70]

In [198]:
a[1][1]

60

In [200]:
a

[[10, 20, 30], [50, 60, 70]]

In [205]:
a= [[[10,20],[30,40]],[[50,60],[70,80]]]

In [206]:
a[0]

[[10, 20], [30, 40]]

In [208]:
a[0][0]

[10, 20]

In [209]:
a[0][0][0]

10

In [210]:
a[1]

[[50, 60], [70, 80]]

## Basic Operation

In [211]:
a= [10,20,30]
b= [30,40,50]

In [213]:
a+b # concatenation

[10, 20, 30, 30, 40, 50]

In [214]:
a

[10, 20, 30]

In [215]:
b

[30, 40, 50]

In [216]:
# Repetition'
a*4

[10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30]

In [219]:
#a*b # cant multiply between two list
     #list will multiply with the integer

TypeError: can't multiply sequence by non-int of type 'list'

In [220]:
b=2

In [221]:
a*b

[10, 20, 30, 10, 20, 30]

In [223]:
a=[10,20,30,40,50,60]
a

[10, 20, 30, 40, 50, 60]

In [229]:
len(a)

6

In [231]:
sum(a)

210

In [232]:
min(a)

10

In [233]:
max(a)

60

In [234]:
#membership --> in, Not in
60 in a

True

In [235]:
70 in a

False

In [236]:
#iteration 
for i in a:
    print(i)

10
20
30
40
50
60

In [237]:
a[0]

10

In [238]:
a[1]

20

In [240]:
for i in range(len(a)): #i=0,1,2,3,4,5
    print(a[i])

10
20
30
40
50
60

## Built-In Methods

Append, extend, insert these three are used to add values

In [273]:
a=[]

In [274]:
a

[]

In [275]:
a.append(10)  #append will take only one arugemnt

In [276]:
a

[10]

In [277]:
a.append(20)
a

[10, 20]

In [278]:
#a.append(30,40) # error, append cant take two arugemnt

In [279]:
a.append([30,40,50]) # here it will gave in list, so no error, it will take as sublist
a

[10, 20, [30, 40, 50]]

In [280]:
# if we want to add multiple values we use extend
# here extend was added individual
a.extend([10,20,30,40])
a

[10, 20, [30, 40, 50], 10, 20, 30, 40]

In [281]:
#insert 
#it will add in a particular index and but not replace the value in that index
a.insert(2,50)
a

[10, 20, 50, [30, 40, 50], 10, 20, 30, 40]

Delete function 
- del
- pop
- remove

In [282]:
# Delete function
a.remove(50)
a

[10, 20, [30, 40, 50], 10, 20, 30, 40]

In [283]:
#we have 10 in 0th index and 3rd index will see which 10 will delete
a.remove(10)
a

[20, [30, 40, 50], 10, 20, 30, 40]

it will remove 1st element because it will check from starting element

In [284]:
#another delete function
a.pop()  # It will delete last element

40

In [285]:
a

[20, [30, 40, 50], 10, 20, 30]

In [286]:
a.pop(3) # here we delete by index value

20

In [287]:
a

[20, [30, 40, 50], 10, 30]

In [288]:
del a[0]

In [289]:
a

[[30, 40, 50], 10, 30]

In [290]:
del a #here complete list will delete because i did not mention incex value

In [292]:
#a  # it will show error because list was deleted. name a in not defined

Sort

In [293]:
a = [10,20,30,40,50,60]
a

[10, 20, 30, 40, 50, 60]

In [294]:
random.shuffle(a) # list was shuffled

In [295]:
a

[50, 60, 20, 30, 10, 40]

In [297]:
a.sort() #it will sort in ascening order
a

[10, 20, 30, 40, 50, 60]

In [299]:
a.sort(reverse=True) # will sort in decsending order
a

[60, 50, 40, 30, 20, 10]

Count

In [300]:
a=[10,20,30]

In [301]:
a

[10, 20, 30]

In [302]:
a=a*3

In [303]:
a

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [305]:
a.count(20) #will see 20 how many times repeated

3

In [307]:
a.pop()

30

In [309]:
a

[10, 20, 30, 10, 20, 30, 10, 20]

In [308]:
a.count(30)

2

Index

In [311]:
a

[10, 20, 30, 10, 20, 30, 10, 20]

In [310]:
a.index(20) #it will start from starting and print the 1st occurance value

1

Reverse

In [312]:
a.reverse() # a values will print in reverse order

In [313]:
a

[20, 10, 30, 20, 10, 30, 20, 10]

# these are built-in methods which we do not write the code directly we can use the functions
- For example we have sort function, To apply sort we have many sorting programs of sorting techinque, we have to take one sortting techinque and apply
- But here we need not to take any sorting techinque
- by using sort we can sort the elements in ascening or decending order, By without writing any code we can use directly  sort function

## Coming to basic operator we used the list, by passing the list to arguments
- a=[] --> a is list
- len(a), max(a),min(a)...etc

## when using built_in methods we used list. by list.method_name
- a.sppend(), a.extend(), a.pop()....etc

## List Comprehension

- By using the formula based we can create a values in the list
- How we should do see below

In [315]:
a = [element for element in range(10)]

In [316]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [318]:
a = [element*element for element in range(10)]
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [322]:
a = [element for element in range(10) if element%2==0] 
a
# list has to create with even numbers

[0, 2, 4, 6, 8]

In [323]:
a = [element**3 for element in range(10) if element%2==0] 
a
#even cubes

[0, 8, 64, 216, 512]

## These are list comprehension what we do in this is
- 1st we need to write  expression in the list
- Next iterations # from this iteration only elemets will take
- and we can give conditons

Expression--Iteration--Condition

# Tuples

- It is belongs to the Immutable property 
- If we create Tuple we can't
    - change the values
    - add
    - delete
    - reassign
- We represent in Paranthasis  ( )
- Tuple is define as coma sperated values and these enclosed with Paranthasis. and it will accept multiple datatypes

<img src ="Screenshot (611).png">

<img src ="Screenshot (613).png">

<img src = "Screenshot (614).png">

## creating tuple

In [324]:
t = ()

In [325]:
type(t)

tuple

In [326]:
t= tuple()

In [327]:
type(t)

tuple

In [373]:
t=(10,20.5,"hello")
t

(10, 20.5, 'hello')

## if we want to create tuple with single element

In [375]:
t=(40)

In [376]:
type(t) #It is not tuple it is integer

int

In [382]:
t=(20.5)
type(t) #here it is a float

float

### Above it is taking individual variable not like tuple

In [379]:
t=(40,) # In tuple if we represent single element we should use COMMA","

In [380]:
type(t)

tuple

In [328]:
t= (10,20,30,40,50,60)
t

(10, 20, 30, 40, 50, 60)

## Accessing elements from tuple

In [329]:
t[0]

10

In [330]:
t[4]

50

## Slicing

In [331]:
t[:]

(10, 20, 30, 40, 50, 60)

In [332]:
t[:4]

(10, 20, 30, 40)

## reassigning tuple element

In [333]:
#t[2]=25 # error 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

Tuple have to accept the reassigning how???
- By converting the tuple to list

In [334]:
t # here t is tuple observer it is in paranthasis

(10, 20, 30, 40, 50, 60)

In [335]:
l = list(t)

##  See here Tuple is converted into List and we should do our manipulation now

In [336]:
l

[10, 20, 30, 40, 50, 60]

In [337]:
l[2]=25

In [338]:
l

[10, 20, 25, 40, 50, 60]

In [339]:
l.append(60)

In [340]:
l

[10, 20, 25, 40, 50, 60, 60]

### Now my manipulations are finished. Now i will convert it in to tuple again

In [341]:
t=tuple(l)

In [342]:
t

(10, 20, 25, 40, 50, 60, 60)

### So when we need to do manipulation on tuple, we need to convert tuple into list and after done with the manipulation agian convert list to tuple. This is how manipulations done in tuple

## Basic operations

In [343]:
t1= (10,20,30)

In [344]:
t2 = (40,50,60)

In [345]:
t1+t2 #this is not meaning of chaning, here new tuple was generated

(10, 20, 30, 40, 50, 60)

In [346]:
t1

(10, 20, 30)

In [347]:
t2

(40, 50, 60)

t1, t2 elements are not changed, but t1+t2 was created a new tuple

In [348]:
t1*3 #tuple can multiply with only interger.... Here also new tuple created

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [349]:
len(t1)

3

In [350]:
len(t)

7

In [351]:
min(t)

10

In [352]:
max(t)

60

In [353]:
sum(t)

265

In [354]:
10 in t

True

In [355]:
100 in t

False

In [356]:
for element in t:
    print(element)

10
20
25
40
50
60
60

In [357]:
for i in range(len(t)):
    print(t[i])

10
20
25
40
50
60
60

## Built-in Methods

In [358]:
t.count(10)

1

In [359]:
t

(10, 20, 25, 40, 50, 60, 60)

In [360]:
t=(10,20,30,10,50)

In [364]:
t

(10, 20, 30, 10, 50)

In [362]:
t.count(10)

2

In [363]:
t.index(30)

2

## Deleting elements

In [365]:
#del t[2] # error 'tuple' object doesn't support item deletion

TypeError: 'tuple' object doesn't support item deletion

In [366]:
del t # no error because complete tuple will delete

In [368]:
#t  #error name 't' is not defined

NameError: name 't' is not defined

## Nested tuple

In [369]:
t= ((10,20),(30,40))

In [370]:
t[0]

(10, 20)

In [371]:
t[1]

(30, 40)

In [372]:
t[1][1]

40

In [374]:
t=(10,20.5,'hello')
t

(10, 20.5, 'hello')

# Strings

- Group of characters we called the String
- Strings will represented in Quotes either in single, double, triple
- Each character will consider into the element, so for every element we have index values
- String is a immutable-- we cant change because reassignment not possible, once it created it will be constant we cant change
    - if we want we can assign to  a new string, but we cant modify the data in the string

<img src = 'Screenshot (615).png'>

## Creating a string

In [413]:
str = "Python" #creating in double quotes

In [414]:
type(str)

str

In [415]:
str1 = 'python' # creating in single quotes
str1

'python'

In [416]:
str2="Your's"
str2

"Your's"

IF we want to create a multiple line string we have to use triple cotaions

In [417]:
#str = "hello
#welcome to pyhton"

In [418]:
str3 = """hello
welcome to python""" #creating in triple qoutes

### Accessing elements from string
- accessing the elements in string means accessing the characters with the help of index values

In [419]:
str[1]

'y'

In [420]:
str[4]

'o'

In [421]:
str[-2]

'o'

## Slicing

In [422]:
str[:]

'Python'

In [423]:
str[:3]

'Pyt'

In [424]:
str = "welcome to pyhton programing"

In [425]:
str[:]

'welcome to pyhton programing'

In [426]:
str[:11]

'welcome to '

In [427]:
str[4:15]

'ome to pyht'

## Format method

In [430]:
print("{0} is an integer and {1} is float".format(10,20.5))

10 is an integer and 20.5 is float

In [431]:
print("{1} is an integer and {2} is float".format(10,20.5,6.5))

20.5 is an integer and 6.5 is float

In [432]:
print("{1} is an integer and {0} is float".format(10,20.5,6.5))

20.5 is an integer and 10 is float

## Basic Operations

In [433]:
s1 ="python"

In [434]:
s2="Prograimng"

In [435]:
s1+s2

'pythonPrograimng'

In [436]:
len(s1)

6

In [437]:
s1

'python'

In [438]:
min(s1)

'h'

In [439]:
max(s1)

'y'

In [440]:
#sum(s1) # this operator won't work because it is not numeric

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [441]:
#Membership operators
"p" in s1

True

In [442]:
"py" in s1

True

In [443]:
"z" in s1

False

In [444]:
# iteration operator

for letter in s1:
    print(letter)

p
y
t
h
o
n

In [445]:
#by printing though index values

for i in range(len(s1)):
    print(s1[i])

p
y
t
h
o
n

In [446]:
s1

'python'

In [447]:
#s1[2]='z'  'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

## Built-in methods

In [483]:
s = "welcome to python programing"

In [449]:
s

'welcome to python programing'

In [450]:
s.capitalize()

'Welcome to python programing'

In [452]:
s

'welcome to python programing'

### here new string is creating we are not modifing the string

In [453]:
s1="python"

In [457]:
s1.center(10,"*")
# here total python string is 6 characters
# but i want 10 characters and python should be in center
# So in the argumnets we need to give width and another is filling character
   # which menas python is 6 char i need 10 char so i should mention remaing char should fill with?

'**python**'

In [458]:
s1.center(20,"*")

'*******python*******'

In [459]:
s1.center(10," ")

'  python  '

In [461]:
s1.center(10,"$")

'$$python$$'

In [463]:
s

'welcome to python programing'

In [462]:
s.count("o")

4

In [464]:
s.count('o',8,len(s)) #counting from given starting postion to end

3

In [465]:
s.count('mm',8,len(s))

0

In [466]:
s.count('om',8,len(s))

0

In [467]:
s.count('om')

1

In [468]:
s.endswith('ing')

True

In [469]:
s.endswith('nn')

False

In [470]:
s.startswith('wel')

True

In [471]:
s.startswith('Wel') #it will check the capital letters

False

In [473]:
s.startswith('wel',8,len(s))

False

In [474]:
s.find('o') #it will return the 1st occurence of index

4

In [475]:
s.rfind('o') #it will return the reverse 1st occurence of index

20

In [476]:
s.index('o')

4

In [477]:
#s.index("z")   # error substring not found

ValueError: substring not found

In [478]:
s.find('z')

-1

## small difference between find and index, index will hsow error but find will give -1 if it is not present

In [479]:
s.rindex('o')

20

In [484]:
s

'welcome to python programing'

In [485]:
s.isalnum()

False

In [486]:
s='abc123'

In [487]:
s.isalnum()

True

In [488]:
s='abc'
s.isalnum()

True

In [489]:
s='123'
s.isalnum()

True

In [490]:
s='abc@123'
s.isalnum() # here another symbols came

False

In [491]:
s= 'abc'

In [492]:
s.isalpha()

True

In [494]:
s='123'
s.isalpha()

False

In [495]:
s.isdigit()

True

In [496]:
s='abc'
s.isdigit()

False

In [497]:
s = " "
s.isspace()

True

In [498]:
s= "abc efg"
s.isspace()

False

In [499]:
s

'abc efg'

In [501]:
s.islower()

True

In [502]:
s="AbcdEF"
s.islower()

False

In [505]:
s.isupper()

False

In [506]:
s="ABCED"
s.isupper()

True

In [507]:
s = "welcome to python programing"
s.title()                     # first letter of evry word came captial

'Welcome To Python Programing'

In [508]:
s

'welcome to python programing'

In [509]:
s.istitle()

False

In [510]:
s = "Welcome To Python Programing"
s.istitle()

True

In [511]:
s ='python'
s.ljust(10," ")

'python    '

In [512]:
s ='python'
s.rjust(10," ")

'    python'

In [513]:
s

'python'

In [514]:
s.upper()

'PYTHON'

In [518]:
t=s.upper()
t

'PYTHON'

In [519]:
t.lower()

'python'

In [521]:
s= "   Python   "
s

'   Python   '

In [522]:
s.strip() ## will remove complete  spaces

'Python'

In [523]:
s.lstrip()

'Python   '

In [524]:
s.rstrip()

'   Python'

In [525]:
s = "Welcome to Python Programming"

In [526]:
s

'Welcome to Python Programming'

In [527]:
s.replace('o','y')

'Welcyme ty Pythyn Prygramming'

In [528]:
s.replace('Python','Java')

'Welcome to Java Programming'

In [529]:
s.replace('o','z',2) #only first 2 occurance are changed
                        # we are change only two times

'Welczme tz Python Programming'

In [530]:
s

'Welcome to Python Programming'

In [532]:
s.split(" ") #it will split when the space occure

['Welcome', 'to', 'Python', 'Programming']

In [533]:
s.split(" ",1)

['Welcome', 'to Python Programming']

In [534]:
s.split("o") #it will split when ever o occur

['Welc', 'me t', ' Pyth', 'n Pr', 'gramming']

In [535]:
s = "WelComE"

In [536]:
s

'WelComE'

In [537]:
s.swapcase() #small letter become capital, capital letter become small

'wELcOMe'

In [539]:
s= 'Pyhton'
s.zfill(10)   #we want total string lenght is 10, but our string lenght is 6 so remaing it will fill with zeros

'0000Pyhton'