# <center>Welcome to Python Programming

**Contents**
1. Introduction to python
2. Applications of python
3. IDEs
4. Introduction to python Interpreter
5. Indentation and comments
6. Keywords
7. Variables - Identifiers
8. Built-In types
9. Assigning Values to variables
10. Input and Output Statements
11. Operators
12. Control Structutres
13. Math & Random Modules
14. List
15. Tuple
16. Strings
17. Set
18. DIctionary
19. Functions
20. Files
21. Libraries in Python

# 14. List

<img src = "Screenshot (604).png">

**List is define as coma sperated values and these enclosed with square brackets. We can add multiple datatypes**

<img src="Screenshot (605).png">

**Creating a list**

In [170]:
a=[]

In [171]:
type(a)

list

In [172]:
a=list()

In [173]:
a

[]

In [174]:
a=[10,20,30]
a

[10, 20, 30]

In [176]:
# Here we put multiple datatypes in one varibale this is called SEQUENCE
a = [10,20.5,"hello"]    
a

[10, 20.5, 'hello']

Here we need to learn two things those are called Mutable and Immutable

<img src="Screenshot (606).png">

Here **LIST** is Mutable object, which we can add, delete and reasign finially it is nothng but we can do modification on LIST

**Accessing element in the list**

<img src = "Screenshot (607).png">

- We access the elements in list by using index
- index will start with zero
- we access the elements with variable_name[index]
- We have forward index start with 0 and backward index starts with -1
- If we give negative index i.e: a[-1] it will  add with lenght of elements, in above example lenght of elements is 5, so -1+5=4
- so a[-1] is same as a[4]
- So accessing of the elements will done with indexing  values

In [177]:
a = [10,20,30,40,50]

In [178]:
a[0] # here [] these are not square brackets we should called it as SUB SCRIPT

10

In [179]:
a[-3]

30

In [180]:
# here we have 5 values, if we cant to access 6th value error will come
# IF we access out of range of indexing error will come
#a[6]

IndexError: list index out of range

## slicing

- Slicing means extracting some portion from the elememts

<img src="Screenshot (608).png">

- we know that a[0]=10, a[1]=20 so on. 
- Now i want to extract some elements. then we use slicing

<img src="Screenshot (609).png">

- How we use slicing?? In square brackets we use colons [ : ], the colon left side will mention satrt index and right side stop index
- By default start index will take 0 and stop index will take len(list)

In [181]:
a[:]

[10, 20, 30, 40, 50]

In [182]:
a[0:3]

[10, 20, 30]

In [183]:
a[:3]

[10, 20, 30]

In [184]:
a[2:]

[30, 40, 50]

### Reassigning list elements

- In the list we can do modification

In [185]:
a # let see the original elements

[10, 20, 30, 40, 50]

In [186]:
a[2]

30

In [189]:
a[2]=25  #I want to change the 30 to 25

In [192]:
a # now the list is updated which means 30 replaced by 25

[10, 20, 25, 40, 50]

## Multidimensional List

- Multidimensional list menas we can give sub list in the list

In [194]:
a=[[10,20,30],[50,60,70]]

In [195]:
a[0]

[10, 20, 30]

In [196]:
a[0][2]

30

In [197]:
a[1]

[50, 60, 70]

In [198]:
a[1][1]

60

In [200]:
a

[[10, 20, 30], [50, 60, 70]]

In [205]:
a= [[[10,20],[30,40]],[[50,60],[70,80]]]

In [206]:
a[0]

[[10, 20], [30, 40]]

In [208]:
a[0][0]

[10, 20]

In [209]:
a[0][0][0]

10

In [210]:
a[1]

[[50, 60], [70, 80]]

## Basic Operation

In [211]:
a= [10,20,30]
b= [30,40,50]

In [213]:
a+b # concatenation

[10, 20, 30, 30, 40, 50]

In [214]:
a

[10, 20, 30]

In [215]:
b

[30, 40, 50]

In [216]:
# Repetition'
a*4

[10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30]

In [219]:
#a*b # cant multiply between two list
     #list will multiply with the integer

TypeError: can't multiply sequence by non-int of type 'list'

In [220]:
b=2

In [221]:
a*b

[10, 20, 30, 10, 20, 30]

In [223]:
a=[10,20,30,40,50,60]
a

[10, 20, 30, 40, 50, 60]

In [229]:
len(a)

6

In [231]:
sum(a)

210

In [232]:
min(a)

10

In [233]:
max(a)

60

In [234]:
#membership --> in, Not in
60 in a

True

In [235]:
70 in a

False

In [236]:
#iteration 
for i in a:
    print(i)

10
20
30
40
50
60

In [237]:
a[0]

10

In [238]:
a[1]

20

In [240]:
for i in range(len(a)): #i=0,1,2,3,4,5
    print(a[i])

10
20
30
40
50
60

## Built-In Methods

Append, extend, insert these three are used to add values

In [273]:
a=[]

In [274]:
a

[]

In [275]:
a.append(10)  #append will take only one arugemnt

In [276]:
a

[10]

In [277]:
a.append(20)
a

[10, 20]

In [278]:
#a.append(30,40) # error, append cant take two arugemnt

In [279]:
a.append([30,40,50]) # here it will gave in list, so no error, it will take as sublist
a

[10, 20, [30, 40, 50]]

In [280]:
# if we want to add multiple values we use extend
# here extend was added individual
a.extend([10,20,30,40])
a

[10, 20, [30, 40, 50], 10, 20, 30, 40]

In [281]:
#insert 
#it will add in a particular index and but not replace the value in that index
a.insert(2,50)
a

[10, 20, 50, [30, 40, 50], 10, 20, 30, 40]

Delete function 
- del
- pop
- remove

In [282]:
# Delete function
a.remove(50)
a

[10, 20, [30, 40, 50], 10, 20, 30, 40]

In [283]:
#we have 10 in 0th index and 3rd index will see which 10 will delete
a.remove(10)
a

[20, [30, 40, 50], 10, 20, 30, 40]

it will remove 1st element because it will check from starting element

In [284]:
#another delete function
a.pop()  # It will delete last element

40

In [285]:
a

[20, [30, 40, 50], 10, 20, 30]

In [286]:
a.pop(3) # here we delete by index value

20

In [287]:
a

[20, [30, 40, 50], 10, 30]

In [288]:
del a[0]

In [289]:
a

[[30, 40, 50], 10, 30]

In [290]:
del a #here complete list will delete because i did not mention incex value

In [292]:
#a  # it will show error because list was deleted. name a in not defined

Sort

In [293]:
a = [10,20,30,40,50,60]
a

[10, 20, 30, 40, 50, 60]

In [294]:
random.shuffle(a) # list was shuffled

In [295]:
a

[50, 60, 20, 30, 10, 40]

In [297]:
a.sort() #it will sort in ascening order
a

[10, 20, 30, 40, 50, 60]

In [299]:
a.sort(reverse=True) # will sort in decsending order
a

[60, 50, 40, 30, 20, 10]

Count

In [300]:
a=[10,20,30]

In [301]:
a

[10, 20, 30]

In [302]:
a=a*3

In [303]:
a

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [305]:
a.count(20) #will see 20 how many times repeated

3

In [307]:
a.pop()

30

In [309]:
a

[10, 20, 30, 10, 20, 30, 10, 20]

In [308]:
a.count(30)

2

Index

In [311]:
a

[10, 20, 30, 10, 20, 30, 10, 20]

In [310]:
a.index(20) #it will start from starting and print the 1st occurance value

1

Reverse

In [312]:
a.reverse() # a values will print in reverse order

In [313]:
a

[20, 10, 30, 20, 10, 30, 20, 10]

# these are built-in methods which we do not write the code directly we can use the functions
- For example we have sort function, To apply sort we have many sorting programs of sorting techinque, we have to take one sortting techinque and apply
- But here we need not to take any sorting techinque
- by using sort we can sort the elements in ascening or decending order, By without writing any code we can use directly  sort function

## Coming to basic operator we used the list, by passing the list to arguments
- a=[] --> a is list
- len(a), max(a),min(a)...etc

## when using built_in methods we used list. by list.method_name
- a.sppend(), a.extend(), a.pop()....etc

## List Comprehension

- By using the formula based we can create a values in the list
- How we should do see below

In [315]:
a = [element for element in range(10)]

In [316]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [318]:
a = [element*element for element in range(10)]
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [322]:
a = [element for element in range(10) if element%2==0] 
a
# list has to create with even numbers

[0, 2, 4, 6, 8]

In [323]:
a = [element**3 for element in range(10) if element%2==0] 
a
#even cubes

[0, 8, 64, 216, 512]

## These are list comprehension what we do in this is
- 1st we need to write  expression in the list
- Next iterations # from this iteration only elemets will take
- and we can give conditons

Expression--Iteration--Condition

# 15. Tuples

- It is belongs to the Immutable property 
- If we create Tuple we can't
    - change the values
    - add
    - delete
    - reassign
- We represent in Paranthasis  ( )
- Tuple is define as coma sperated values and these enclosed with Paranthasis. and it will accept multiple datatypes

<img src ="Screenshot (611).png">

<img src ="Screenshot (613).png">

<img src = "Screenshot (614).png">

## creating tuple

In [324]:
t = ()

In [325]:
type(t)

tuple

In [326]:
t= tuple()

In [327]:
type(t)

tuple

In [373]:
t=(10,20.5,"hello")
t

(10, 20.5, 'hello')

## if we want to create tuple with single element

In [375]:
t=(40)

In [376]:
type(t) #It is not tuple it is integer

int

In [382]:
t=(20.5)
type(t) #here it is a float

float

### Above it is taking individual variable not like tuple

In [379]:
t=(40,) # In tuple if we represent single element we should use COMMA","

In [380]:
type(t)

tuple

In [328]:
t= (10,20,30,40,50,60)
t

(10, 20, 30, 40, 50, 60)

## Accessing elements from tuple

In [329]:
t[0]

10

In [330]:
t[4]

50

## Slicing

In [331]:
t[:]

(10, 20, 30, 40, 50, 60)

In [332]:
t[:4]

(10, 20, 30, 40)

## reassigning tuple element

In [333]:
#t[2]=25 # error 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

Tuple have to accept the reassigning how???
- By converting the tuple to list

In [334]:
t # here t is tuple observer it is in paranthasis

(10, 20, 30, 40, 50, 60)

In [335]:
l = list(t)

##  See here Tuple is converted into List and we should do our manipulation now

In [336]:
l

[10, 20, 30, 40, 50, 60]

In [337]:
l[2]=25

In [338]:
l

[10, 20, 25, 40, 50, 60]

In [339]:
l.append(60)

In [340]:
l

[10, 20, 25, 40, 50, 60, 60]

### Now my manipulations are finished. Now i will convert it in to tuple again

In [341]:
t=tuple(l)

In [342]:
t

(10, 20, 25, 40, 50, 60, 60)

### So when we need to do manipulation on tuple, we need to convert tuple into list and after done with the manipulation agian convert list to tuple. This is how manipulations done in tuple

## Basic operations

In [343]:
t1= (10,20,30)

In [344]:
t2 = (40,50,60)

In [345]:
t1+t2 #this is not meaning of chaning, here new tuple was generated

(10, 20, 30, 40, 50, 60)

In [346]:
t1

(10, 20, 30)

In [347]:
t2

(40, 50, 60)

t1, t2 elements are not changed, but t1+t2 was created a new tuple

In [348]:
t1*3 #tuple can multiply with only interger.... Here also new tuple created

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [349]:
len(t1)

3

In [350]:
len(t)

7

In [351]:
min(t)

10

In [352]:
max(t)

60

In [353]:
sum(t)

265

In [354]:
10 in t

True

In [355]:
100 in t

False

In [356]:
for element in t:
    print(element)

10
20
25
40
50
60
60

In [357]:
for i in range(len(t)):
    print(t[i])

10
20
25
40
50
60
60

## Built-in Methods

In [358]:
t.count(10)

1

In [359]:
t

(10, 20, 25, 40, 50, 60, 60)

In [360]:
t=(10,20,30,10,50)

In [364]:
t

(10, 20, 30, 10, 50)

In [362]:
t.count(10)

2

In [363]:
t.index(30)

2

## Deleting elements

In [365]:
#del t[2] # error 'tuple' object doesn't support item deletion

TypeError: 'tuple' object doesn't support item deletion

In [366]:
del t # no error because complete tuple will delete

In [368]:
#t  #error name 't' is not defined

NameError: name 't' is not defined

## Nested tuple

In [369]:
t= ((10,20),(30,40))

In [370]:
t[0]

(10, 20)

In [371]:
t[1]

(30, 40)

In [372]:
t[1][1]

40

In [374]:
t=(10,20.5,'hello')
t

(10, 20.5, 'hello')

# 16. Strings

- Group of characters we called the String
- Strings will represented in Quotes either in single, double, triple
- Each character will consider into the element, so for every element we have index values
- String is a immutable-- we cant change because reassignment not possible, once it created it will be constant we cant change
    - if we want we can assign to  a new string, but we cant modify the data in the string

<img src = 'Screenshot (615).png'>

## Creating a string

In [413]:
str = "Python" #creating in double quotes

In [414]:
type(str)

str

In [415]:
str1 = 'python' # creating in single quotes
str1

'python'

In [416]:
str2="Your's"
str2

"Your's"

IF we want to create a multiple line string we have to use triple cotaions

In [417]:
#str = "hello
#welcome to pyhton"

In [418]:
str3 = """hello
welcome to python""" #creating in triple qoutes

### Accessing elements from string
- accessing the elements in string means accessing the characters with the help of index values

In [419]:
str[1]

'y'

In [420]:
str[4]

'o'

In [421]:
str[-2]

'o'

## Slicing

In [422]:
str[:]

'Python'

In [423]:
str[:3]

'Pyt'

In [424]:
str = "welcome to pyhton programing"

In [425]:
str[:]

'welcome to pyhton programing'

In [426]:
str[:11]

'welcome to '

In [427]:
str[4:15]

'ome to pyht'

## Format method

In [430]:
print("{0} is an integer and {1} is float".format(10,20.5))

10 is an integer and 20.5 is float

In [431]:
print("{1} is an integer and {2} is float".format(10,20.5,6.5))

20.5 is an integer and 6.5 is float

In [432]:
print("{1} is an integer and {0} is float".format(10,20.5,6.5))

20.5 is an integer and 10 is float

## Basic Operations

In [433]:
s1 ="python"

In [434]:
s2="Prograimng"

In [435]:
s1+s2

'pythonPrograimng'

In [436]:
len(s1)

6

In [437]:
s1

'python'

In [438]:
min(s1)

'h'

In [439]:
max(s1)

'y'

In [440]:
#sum(s1) # this operator won't work because it is not numeric

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [441]:
#Membership operators
"p" in s1

True

In [442]:
"py" in s1

True

In [443]:
"z" in s1

False

In [444]:
# iteration operator

for letter in s1:
    print(letter)

p
y
t
h
o
n

In [445]:
#by printing though index values

for i in range(len(s1)):
    print(s1[i])

p
y
t
h
o
n

In [446]:
s1

'python'

In [447]:
#s1[2]='z'  'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

## Built-in methods

In [483]:
s = "welcome to python programing"

In [449]:
s

'welcome to python programing'

In [450]:
s.capitalize()

'Welcome to python programing'

In [452]:
s

'welcome to python programing'

### here new string is creating we are not modifing the string

In [453]:
s1="python"

In [457]:
s1.center(10,"*")
# here total python string is 6 characters
# but i want 10 characters and python should be in center
# So in the argumnets we need to give width and another is filling character
   # which menas python is 6 char i need 10 char so i should mention remaing char should fill with?

'**python**'

In [458]:
s1.center(20,"*")

'*******python*******'

In [459]:
s1.center(10," ")

'  python  '

In [461]:
s1.center(10,"$")

'$$python$$'

In [463]:
s

'welcome to python programing'

In [462]:
s.count("o")

4

In [464]:
s.count('o',8,len(s)) #counting from given starting postion to end

3

In [465]:
s.count('mm',8,len(s))

0

In [466]:
s.count('om',8,len(s))

0

In [467]:
s.count('om')

1

In [468]:
s.endswith('ing')

True

In [469]:
s.endswith('nn')

False

In [470]:
s.startswith('wel')

True

In [471]:
s.startswith('Wel') #it will check the capital letters

False

In [473]:
s.startswith('wel',8,len(s))

False

In [474]:
s.find('o') #it will return the 1st occurence of index

4

In [475]:
s.rfind('o') #it will return the reverse 1st occurence of index

20

In [476]:
s.index('o')

4

In [477]:
#s.index("z")   # error substring not found

ValueError: substring not found

In [478]:
s.find('z')

-1

## small difference between find and index, index will hsow error but find will give -1 if it is not present

In [479]:
s.rindex('o')

20

In [484]:
s

'welcome to python programing'

In [485]:
s.isalnum()

False

In [486]:
s='abc123'

In [487]:
s.isalnum()

True

In [488]:
s='abc'
s.isalnum()

True

In [489]:
s='123'
s.isalnum()

True

In [490]:
s='abc@123'
s.isalnum() # here another symbols came

False

In [491]:
s= 'abc'

In [492]:
s.isalpha()

True

In [494]:
s='123'
s.isalpha()

False

In [495]:
s.isdigit()

True

In [496]:
s='abc'
s.isdigit()

False

In [497]:
s = " "
s.isspace()

True

In [498]:
s= "abc efg"
s.isspace()

False

In [499]:
s

'abc efg'

In [501]:
s.islower()

True

In [502]:
s="AbcdEF"
s.islower()

False

In [505]:
s.isupper()

False

In [506]:
s="ABCED"
s.isupper()

True

In [507]:
s = "welcome to python programing"
s.title()                     # first letter of evry word came captial

'Welcome To Python Programing'

In [508]:
s

'welcome to python programing'

In [509]:
s.istitle()

False

In [510]:
s = "Welcome To Python Programing"
s.istitle()

True

In [511]:
s ='python'
s.ljust(10," ")

'python    '

In [512]:
s ='python'
s.rjust(10," ")

'    python'

In [513]:
s

'python'

In [514]:
s.upper()

'PYTHON'

In [518]:
t=s.upper()
t

'PYTHON'

In [519]:
t.lower()

'python'

In [521]:
s= "   Python   "
s

'   Python   '

In [522]:
s.strip() ## will remove complete  spaces

'Python'

In [523]:
s.lstrip()

'Python   '

In [524]:
s.rstrip()

'   Python'

In [525]:
s = "Welcome to Python Programming"

In [526]:
s

'Welcome to Python Programming'

In [527]:
s.replace('o','y')

'Welcyme ty Pythyn Prygramming'

In [528]:
s.replace('Python','Java')

'Welcome to Java Programming'

In [529]:
s.replace('o','z',2) #only first 2 occurance are changed
                        # we are change only two times

'Welczme tz Python Programming'

In [530]:
s

'Welcome to Python Programming'

In [532]:
s.split(" ") #it will split when the space occure

['Welcome', 'to', 'Python', 'Programming']

In [533]:
s.split(" ",1)

['Welcome', 'to Python Programming']

In [534]:
s.split("o") #it will split when ever o occur

['Welc', 'me t', ' Pyth', 'n Pr', 'gramming']

In [535]:
s = "WelComE"

In [536]:
s

'WelComE'

In [537]:
s.swapcase() #small letter become capital, capital letter become small

'wELcOMe'

In [539]:
s= 'Pyhton'
s.zfill(10)   #we want total string lenght is 10, but our string lenght is 6 so remaing it will fill with zeros

'0000Pyhton'

# 17. Set

<img src ="Screenshot (616).png">

- Set is defined as coma seperated values and it represented in Curly braces
- Set accepts the multiple datatypes
- The specality of the set is it will remove duplicate values automatically and only unique values will present
- In set the elements are in unordered
- set is mutable so we can perform adding deleting and ect
- In set there is no indexing because it is unordered
- No slicing
- How we create a empty set??
    - using set()
    - If we use empty {} it will consider as Dictonary

<img src = 'Screenshot (617).png'>

### Creating a set

In [14]:
s={}

In [15]:
type(s)

dict

In [16]:
s=set()

In [17]:
type(s)

set

In [18]:
s={10,20,30}
s

{10, 20, 30}

In [19]:
type(s)

set

In [20]:
s={50,80,10,20,30}
s

{10, 20, 30, 50, 80}

In [21]:
s={20,80,10,30,10,20,30}
s

{10, 20, 30, 80}

In [22]:
len(s)

4

### Basic operations

In [23]:
s.add(40)

In [24]:
s

{10, 20, 30, 40, 80}

In [25]:
s.add(50)
s

{10, 20, 30, 40, 50, 80}

In [27]:
s.remove(10)

In [28]:
s

{20, 30, 40, 50, 80}

In [29]:
s.discard(30)

In [30]:
s

{20, 40, 50, 80}

Difference between discard and remove

In [31]:
#s.remove(100) # error will come because 100 not in set

KeyError: 100

In [32]:
s.discard(100) #no error

In [33]:
s.pop() # will delete last element. we dont know the last element because it is unorderd, it will delete its point of view

40

In [34]:
s

{20, 50, 80}

In [37]:
s.clear()

In [38]:
s

set()

In [39]:
s={10,20,30}

In [40]:
del s

In [41]:
#s  # error name 's' is not defined

NameError: name 's' is not defined

In [42]:
s={10,20,30,40}

In [43]:
len(s)

4

In [44]:
10 in s

True

In [45]:
100 in s

False

In [46]:
for ele in s:
    print(ele)

40
10
20
30

In [47]:
#s[0] #error 'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

In [48]:
s={10,20,30}

In [49]:
t={10,20,30,40,50,60}

In [50]:
s.issubset(t) # if all s element present in t so s is subset of t

True

In [51]:
t.issubset(s) # here all t element not present in s so it is false

False

In [52]:
t.issuperset(s)

True

In [53]:
s.issuperset(t)

False

In [54]:
s.union(t)

{10, 20, 30, 40, 50, 60}

In [55]:
s.intersection(t)

{10, 20, 30}

In [56]:
s.difference(t)

set()

In [57]:
t.difference(s)

{40, 50, 60}

In [58]:
s

{10, 20, 30}

In [59]:
t

{10, 20, 30, 40, 50, 60}

In [60]:
s.add(100)

In [61]:
s

{10, 20, 30, 100}

In [62]:
t

{10, 20, 30, 40, 50, 60}

In [63]:
s.symmetric_difference(t)

{40, 50, 60, 100}

In [64]:
s.difference(t)

{100}

In [65]:
t.difference(s)

{40, 50, 60}

In [66]:
s

{10, 20, 30, 100}

In [67]:
t

{10, 20, 30, 40, 50, 60}

In [68]:
s.update(t)

In [69]:
s

{10, 20, 30, 40, 50, 60, 100}

In [70]:
t={10,20}
t

{10, 20}

In [71]:
s.intersection_update(t)

In [72]:
s

{10, 20}

In [73]:
t.difference_update(s)

In [74]:
t

set()

In [75]:
s={10,20,30}

In [76]:
t=s.copy()

In [77]:
t

{10, 20, 30}

# 18. Dictonary

- Dictonary is represented in curly braces {}
- In Dictonary, between the curly braces we dont call it as elements. They are called as items
- In items we have key and value pairs, These key value pairs is differentiate with COLLON[:]
    - example: {key:value,key2:value2,key3:value3}
    - Keys can be duplicates
    - but Values should not be duplicates
- How we do accessing the values???
    - Not using Indexing
    - We use key as a index and access the values
    - example: d={'a':2,'b':4}
    - d['a'] O/p = 2
    - d[key]
- Creating a empty dictonary by using {} or dict

<img src = "Screenshot (618).png">
<img src = "Screenshot (619).png">

## creating a dictionary

In [78]:
d = {}

In [79]:
d

{}

In [80]:
type(d)

dict

In [81]:
d = dict()

In [82]:
d

{}

In [83]:
# how to initilize values to dict

d = {'name': "abc",'per':89}

In [84]:
d

{'name': 'abc', 'per': 89}

### Accessing the values

In [85]:
d['name']

'abc'

In [86]:
d['per']

89

In [87]:
d['per']=90

In [88]:
d

{'name': 'abc', 'per': 90}

In [89]:
d['college']="abcd"

In [90]:
d

{'name': 'abc', 'per': 90, 'college': 'abcd'}

In [91]:
len(d)

3

### deleting dict

In [92]:
del d['college']

In [93]:
d

{'name': 'abc', 'per': 90}

In [94]:
del d

In [95]:
#d  #error name 'd' is not defined

NameError: name 'd' is not defined

In [96]:
d= {'name': 'abc', 'per': 90, 'college': 'abcd'}

In [97]:
d

{'name': 'abc', 'per': 90, 'college': 'abcd'}

In [105]:
d.clear()

In [106]:
d

{}

### Updating dict

In [107]:
d= {'name': 'abc', 'per': 90}

In [108]:
d1={'college': 'abcd'}

In [109]:
d.update(d1)

In [110]:
d

{'name': 'abc', 'per': 90, 'college': 'abcd'}

### dictionary comprehension

In [111]:
d={i:i**2 for i in range(10)}

In [112]:
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [113]:
d={i:i**2 for i in range(10) if i%2==0}

In [114]:
d

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [115]:
d={'name':{'fname':'python','lname':'programming'},'Duration':5}

In [116]:
d

{'name': {'fname': 'python', 'lname': 'programming'}, 'Duration': 5}

In [117]:
d['name']

{'fname': 'python', 'lname': 'programming'}

In [118]:
d['name']['lname']

'programming'

### Built-In methods

In [119]:
d

{'name': {'fname': 'python', 'lname': 'programming'}, 'Duration': 5}

In [120]:
s=d.copy()

In [121]:
s

{'name': {'fname': 'python', 'lname': 'programming'}, 'Duration': 5}

In [122]:
d.items()

dict_items([('name', {'fname': 'python', 'lname': 'programming'}), ('Duration', 5)])

In [123]:
d = {'a':3,'b':4,'c':10}

In [124]:
d.items()

dict_items([('a', 3), ('b', 4), ('c', 10)])

In [125]:
d.values()

dict_values([3, 4, 10])

In [126]:
d.keys()

dict_keys(['a', 'b', 'c'])

In [127]:
d.clear()

In [128]:
d

{}